PORT=4000
MQTT_BROKER_URL=mqtt://localhost:1883
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/streetlight_db
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=postgrespassword
PGDATABASE=streetlight_db
PGPORT=5432
